# API credentials for the Supabase frontend client
NEXT_PUBLIC_SUPABASE_URL="(supabase url here)"
NEXT_PUBLIC_SUPABASE_ANON_KEY="(supabase anon key here)"

SPRING_DATASOURCE_URL="(supabase url here)"
SPRING_DATASOURCE_USERNAME="postgres.(supabase Id)"
SPRING_DATASOURCE_PASSWORD="(supabase password)"

#CAUTION!!!
#RENAME THIS FILE AS .env ONCE YOU REPLACED THE CREDENTIALS BEFORE PUSHING IN GITHUB
