:root {
    
    --main-color1: #FFF2E5;
    --main-color2: #FFE2E2;

    --secondary-color1: #222245;
    --secondary-color2: #5B3535;

    --accent-color1: #F98513;
    --accent-color2: #580B74;

    --font-dark: #151311;
    --font-light1: #FFF2E5;
    --font-light2: #A5A1B8;

    --input-color1: #fbf6ff;
    
    --heading: Inter;
    --body: Inter;

    --shadow: 5px 5px 5px rgba(39, 0, 57, 0.3);

    --muted: #65708f;
}